Dataset for starters:
Padi (Oryza sativa)
Jagung (Zea mays)
Kelapa (Cocos nucifera)
Pisang (Musa spp.)
Tebu (Saccharum officinarum)
Kedelai (Glycine max)
Kopi (Coffea spp.)
Kelapa sawit (Elaeis guineensis)
Cengkeh (Syzygium aromaticum)
Lada (Piper nigrum)
Terong (Solanum melongena)
Tomat (Solanum lycopersicum)
Cabai (Capsicum spp.)
Jeruk (Citrus spp.)
Pisang raja (Musa paradisiaca)
Durian (Durio spp.)
Salak (Salacca zalacca)
Rambutan (Nephelium lappaceum)
Mangga (Mangifera indica)
Pepaya (Carica papaya)
Jambu air (Syzygium aqueum)
Jambu biji (Psidium guajava)
Belimbing (Averrhoa carambola)
Nangka (Artocarpus heterophyllus)
Sawo (Manilkara zapota)
Srikaya (Annona squamosa)
Bambu (Bambusoideae spp.)
Paku (Nephrolepis spp.)
Kaktus (Cactaceae spp.)
Bunga melati (Jasminum spp.)
